html {
  font-size: 15px;
}

.bienvenidos {
  background: url(https://cdn.pixabay.com/photo/2020/09/07/17/40/birds-5552482_960_720.jpg);
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.fixed-top {
  background: rgba(0, 0, 0, 0.58);
}

.navbar-dark .navbar-brand {
  color: #fff;
  font-size: 1.5rem;
}

.navbar-nav {
  transition: all 0.3s ease;
}
.nav-link:hover {
  background: #0d6efd;
  color: #fff;
  border-radius: 5px;
}

.inicio-link {
  background: #0d6efd;
}

.texto-bienvenidos {
  margin-top: 16rem;
  color: white;
}

.quienes-somos {
  background: #fbe0c4;
  color: #fff;
  height: 100vh;
}

.img-fluid {
  max-width: 50%;
}

.servicios .fa {
  color: #0d6efd;
  font-size: 6rem;
  margin: 3rem;
}

.servicios h3 {
  font-weight: bold;
  margin-top: 2rem;
}

.portafolio {
  background-color: gray;
  color: #fff;
}

.portafolio a {
  display: block;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.portafolio img {
  transition: all 0.3s ease;
  min-width: 100%;
}

.portafolio a:hover img {
  transform: scale(1.2);
}

.footer {
  background-color: #222222;
  color: #fff;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  .bienvenidos {
    background: url(https://cdn.pixabay.com/photo/2020/09/29/10/42/library-5612441_960_720.jpg);
    background-size: cover;
  }
}
